.container {
    padding: 0 map-get($space, xl);
    &--fluid {
        width: 100%;
        margin: auto;
        padding: 0 15px;
        @media (min-width: $screen-sm-min) {
            max-width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
            max-width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
            max-width: $container-lg;
            padding: 0;
        }
    } 
}