.o-container {
    padding: 0 map-get($space, xxxs);
    &--fluid {
        width: 100%;
        margin: auto;
        padding: 0 map-get($space, xxxs);
        @media (min-width: $screen-sm-min) {
            max-width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
            max-width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
            max-width: $container-xl;
            padding: 0;
        } 
    } 
} 

.o-grid-row {
    display: flex;
    flex-wrap: wrap;
    & > *:not(:nth-child(odd)) {
        @media (min-width: $screen-md-min) {
            padding-left: 2%;
        }
    }
    & > *:not(:nth-child(even)) {
        @media (min-width: $screen-md-min) {
            padding-right: 2%;
        }
    }
    &__item {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: 100%;
        @media (min-width: $screen-md-min) {
            flex: 0 0 50%;
            max-width: 50%;
            min-width: 50%;
        }
     
        
    }
} 