.o-container {
    padding: 0 $gutter-half;
    &--fluid {
        width: 100%;
        margin: auto;
        // padding: 0 $gutter-half;
        @media (min-width: $screen-sm-min) {
            max-width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
            max-width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
            max-width: $container-xl;
            // padding: 0;
        } 
    }  
} 

.o-grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter-half;
    margin-left: -$gutter-half;
    @media (min-width: $screen-md-min) {
        flex-wrap: nowrap;
    }
    &__item {
        flex: 100%;
        padding: 0 $gutter-half;
        &--2-1{
            @media (min-width: $screen-md-min) {
                flex: 0 0 50%;
                max-width: 50%;
                min-width: 50%;
            }
        }
        &--3-2{
            @media (min-width: $screen-md-min) {
                flex: 0 0 66.6%;
                max-width: 66.6%;
                min-width: 66.6%;
            }
        }
        &--3-1{
            @media (min-width: $screen-md-min) {
                flex: 0 0 33.3%;
                max-width: 33.3%;
                min-width: 33.3%;
            } 
        }
    }
} 