.o-theme {
    &--fashion {
        .c-latest-post {
            &__category {
                color: #b4ad9e;
            }
            &__img-box {
                background-color: #b4ad9e;
            }
        }
        .c-about-me {
            &__title {
                color: #b4ad9e;
            }
            .c-social-icons__icon {
                color: #b4ad9e;
                &:hover {
                    background-color: #b4ad9e;
                    color: #fff;
                }
            }
        }
        .c-top-posts {
            background-color: rgba(180, 173, 158, 0.2);
        }
        .c-add-comment {
            &__nick:focus,
            &__comment:focus {
                border: 1px solid #626262;
                background-color: rgba(180, 173, 158, 0.2);
            }
            .c-button {
                color: #b4ad9e;
                background-color: #fff;
                border: 1px solid #a9a9a9;
                color: #a9a9a9;
                &:hover{
                    background-color: rgba(180, 173, 158, 0.4);
                    cursor: pointer;
                    border-color: black;
                    color: black;
                }
            }
        }
    }
    &--fashion.c-newsletter {
        background-color: rgba(180, 173, 158, 0.2);
    }
    &--architecture {
            .c-latest-post {
                &__category {
                    color: #51bba4;
                }
                &__img-box {
                    background-color: #51bba4;
                }
            }
            .c-about-me {
                &__title {
                    color: #51bba4;
                }
                .c-social-icons__icon {
                    color: #51bba4;
                    &:hover {
                        background-color: #51bba4;
                        color: #fff;
                    }
                }
            }
            .c-top-posts {
                background-color: rgba(81, 187, 164, 0.2);
            }
            .c-add-comment {
                &__nick:focus,
                &__comment:focus {
                    border: 1px solid #626262;
                    background-color: rgba(81, 187, 164, 0.2);
                }
                .c-button { 
                    color: #b4ad9e;
                    background-color: #fff;
                    border: 1px solid #a9a9a9;
                    color: #a9a9a9;
                    &:hover{
                        background-color: rgba(81, 187, 164, 0.4);
                        cursor: pointer;
                        border-color: black;
                        color: black;
                    }
                }
            }
            
    }
    &--architecture.c-newsletter {
        background-color: rgba(81, 187, 164, 0.2);
    }
    &--lifestyle {
        .c-latest-post {
            &__category {
                color: #626262;
            }
            &__img-box {
                background-color: #626262;
            }
        }
        .c-about-me {
            &__title {
                color: #626262;
            }
            .c-social-icons__icon {
                color: #626262;
                &:hover {
                    background-color: #626262;
                    color: #fff;
                }
            }
        }
        .c-top-posts {
            background-color: rgba(98, 98, 98, 0.2);
        } 
        .c-add-comment {
            &__nick:focus,
            &__comment:focus {
                border: 1px solid #626262;
                background-color: rgba(98, 98, 98, 0.2);
            }
            .c-button {
                color: #626262;
                background-color: #fff;
                border: 1px solid #a9a9a9;
                color: #a9a9a9;
                &:hover{
                    background-color: rgba(98, 98,98, 0.4);
                    cursor: pointer;
                    border-color: black;
                    color: black;
                }
            }
        }
    }
    &--lifestyle.c-newsletter {
        background-color: rgba(180, 173, 158, 0.2);
    }
} 