@charset "UTF-8";
/*********
* Fonts *
*********/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=latin-ext");
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">');
/********** 
* Colors *
**********/
/************ 
* Spacings *
************/
/**************
* Grid *
**************/
/********
* Misc *
********/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  font-size: 16px;
  overflow-y: scroll;
  min-height: 100%; }

body {
  font-family: "Playfair Display", serif;
  line-height: 24px;
  color: color-var(font);
  font-size: 16px; }

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  /* [3] */ }

a {
  text-decoration: none;
  color: inherit;
  transition: all .5s ease-in-out; }

.o-container {
  padding: 0 25px; }
  .o-container--fluid {
    width: 100%;
    margin: auto; }
    @media (min-width: 768px) {
      .o-container--fluid {
        max-width: 750px; } }
    @media (min-width: 992px) {
      .o-container--fluid {
        max-width: 970px; } }
    @media (min-width: 1200px) {
      .o-container--fluid {
        max-width: 1300px; } }

.o-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -25px;
  margin-left: -25px; }
  @media (min-width: 992px) {
    .o-grid-row {
      flex-wrap: nowrap; } }
  .o-grid-row__item {
    flex: 100%;
    padding: 0 25px; }
    @media (min-width: 992px) {
      .o-grid-row__item--2-1 {
        flex: 0 0 50%;
        max-width: 50%;
        min-width: 50%; } }
    @media (min-width: 992px) {
      .o-grid-row__item--3-2 {
        flex: 0 0 66.6%;
        max-width: 66.6%;
        min-width: 66.6%; } }
    @media (min-width: 992px) {
      .o-grid-row__item--3-1 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
        min-width: 33.3%; } }

.o-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .o-flex--column {
    flex-direction: column; }
  .o-flex--left, .o-flex--top {
    align-items: flex-start; }
  .o-flex--right, .o-flex--bottom {
    align-items: flex-end; }
  .o-flex--center {
    justify-content: center; }
  .o-flex--space-around {
    justify-content: space-around; }
  .o-flex--justify-center {
    justify-content: center; }
  .o-flex--justify-left {
    justify-content: flex-start; }
  .o-flex--justify-right {
    justify-content: flex-end; }
  .o-flex--wrap {
    flex-wrap: wrap; }
  .o-flex--stretch {
    align-items: stretch; }

.c-button {
  background-color: #626262;
  padding: 5px 0.9375rem;
  color: #fff;
  font-family: "Playfair Display", serif;
  border: 1px solid #626262;
  transition: all .3s ease-in-out;
  font-size: 0.875rem; }
  .c-button:hover {
    color: #626262;
    background-color: #fff;
    border: 1px solid #626262;
    cursor: pointer; }

.c-social-icons__icon {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 1.5rem;
  color: #626262;
  transition: all .3s ease-in-out;
  margin-left: 0.625rem; }
  .c-social-icons__icon:hover {
    transform: scale(1.3);
    background-color: #626262;
    color: #fff; }
  .c-social-icons__icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.c-header {
  font-size: 1rem;
  margin-top: 4.6875rem;
  margin-bottom: 4.6875rem; }
  .c-header__item {
    text-transform: uppercase;
    padding: 0.3125rem; }
    .c-header__item:hover {
      color: #fff;
      background-color: #626262; }
  .c-header__logo {
    width: 7.4375rem; }

.c-latest-post {
  padding-bottom: 8.125rem; }
  .c-latest-post__img {
    width: 100%; }
  .c-latest-post__img-box {
    overflow: hidden;
    position: relative;
    background-color: #626262; }
    .c-latest-post__img-box img {
      transition: all .8s ease-in-out; }
      .c-latest-post__img-box img:hover {
        transform: scale(1.3);
        opacity: 0.6; }
  .c-latest-post__content {
    padding-top: 4.6875rem; }
  .c-latest-post__category {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    display: inline-block; }
  .c-latest-post__title {
    padding: 2.1875rem 0;
    font-size: 1.875rem; }
  .c-latest-post__text {
    padding-bottom: 2.5rem; }

.c-newsletter {
  background-color: #f0f0f0;
  height: 18.125rem;
  padding: 75px 0;
  margin-bottom: 130px; }
  .c-newsletter__content {
    height: 100%; }
  .c-newsletter__text {
    font-size: 30px;
    letter-spacing: 0.04688rem; }
  .c-newsletter__form {
    width: 33%;
    position: relative; }
    .c-newsletter__form::after {
      content: "";
      background-color: #626262;
      height: 2px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: 0; }
  .c-newsletter__input {
    border: none;
    background-color: transparent;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    width: 95%; }

.c-about-me {
  padding-top: 0;
  padding-bottom: 5.625rem; }
  @media (min-width: 992px) {
    .c-about-me {
      padding-top: 5.625rem; } }
  .c-about-me__title {
    font-size: 1.5rem;
    padding: 2.1875rem 0; }
  .c-about-me__description {
    padding-bottom: 2.1875rem; }

.c-banner {
  padding-top: 5.625rem;
  position: relative;
  height: 300px; }
  .c-banner::before {
    content: "banner";
    background-color: #626262;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%; }

.c-top-posts {
  padding: 2.1875rem 0;
  background-color: #f0f0f0; }
  .c-top-posts__header {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    padding: 3.125rem 0; }
  .c-top-posts__title {
    padding: 2.1875rem 0;
    font-size: 1.5rem; }

.c-comments {
  padding-top: 8.125rem; }
  .c-comments__header {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    text-transform: uppercase; }

.c-comment {
  padding: 2.5rem 0; }
  .c-comment__content {
    padding-bottom: 4.0625rem; }
  .c-comment__name {
    font-weight: bold; }

.c-add-comment__link {
  letter-spacing: 0.04688rem;
  margin-bottom: 0.9375rem;
  display: inline-block; }

.c-add-comment__comment {
  width: 100%;
  display: inline-block;
  margin: 0.9375rem 0;
  padding: 15px 0.9375rem;
  outline-width: 0; }
  .c-add-comment__comment:focus {
    border: 1px solid #626262;
    background-color: #f0f0f0; }
  .c-add-comment__comment::placeholder {
    font-family: "Playfair Display", serif; }

.c-add-comment__nick {
  display: inline-block;
  margin: 0.9375rem 0;
  padding: 15px 0.9375rem;
  outline-width: 0; }
  .c-add-comment__nick:focus {
    border: 1px solid #626262;
    background-color: #f0f0f0; }
  .c-add-comment__nick::placeholder {
    font-family: "Playfair Display", serif; }

.c-add-comment__form {
  position: relative;
  padding-bottom: 4.0625rem; }

.c-add-comment__button {
  position: absolute;
  right: 0;
  bottom: 0.9375rem; }

.c-footer {
  height: 6.25rem;
  background-color: #f0f0f0; }
  .c-footer__content {
    height: 6.25rem; }
  .c-footer__conditions, .c-footer__privacy {
    margin-right: 0.625rem;
    position: relative; }
    .c-footer__conditions:hover::before, .c-footer__privacy:hover::before {
      display: block;
      right: 0; }
    .c-footer__conditions::before, .c-footer__privacy::before {
      content: "";
      position: absolute;
      display: none;
      background-color: black;
      width: 100%;
      height: 1px;
      top: 100%; }
  .c-footer__text {
    height: 1.875rem;
    vertical-align: middle;
    line-height: 1.875rem; }

.u-text--padded-top-xl {
  padding-top: 5.625rem; }

.u-text--padded-bottom-xl {
  padding-bottom: 5.625rem; }
