.c-add-comment {
    &__add-comment {
        letter-spacing: calculateRem(.75px);
        margin-top: calculateRem(map-get($space, xxxs));
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: calculateRem(map-get($font, s));
        font-family: $secondaryFont;
        outline-width: 0;
        padding-left: 0;
    }
    &__comment{
        width: 100%;
        @include form-item-focus;
        &::placeholder {
            font-family: $primaryFont;
        } 
    }
    &__nick {
        @include form-item-focus;
        &::placeholder {
            font-family: $primaryFont;
        } 
    }
    &__form {
        position: relative;
        padding-bottom: calculateRem(map-get($space,  m));
    }
    &__button {
        position: absolute;
        right: 0;
        bottom: calculateRem(map-get($space, xxxs));
    }
    &__thanks {
        font-family: $secondaryFont;
        letter-spacing: calculateRem(.75px);
    }
}  