.c-comments{
    padding-top: calculateRem(map-get($space, xxl));
    &__header {
        font-family: $secondaryFont;
        font-size: calculateRem(map-get($font, m));
        text-transform: uppercase;
        padding-bottom: calculateRem(map-get($space, xxs));
    }
}   