.c-newsletter {
    background-color: #f0f0f0; 
    height: calculateRem(290px);
    padding: map-get($space, l) 0;
    margin-bottom: map-get($space, xxl);
    &__content {
        height: 100%;
    }
    &__text {
        font-size: map-get($font, xl);
        letter-spacing: calculateRem(.75px);
    }
    &__form {
        width: 33%;
        position: relative;
        &::after {
            content: "";
            background-color: #626262;
            height: 2px;
            width: 100%;
            position: absolute;
            display: block;
            bottom: 0;
        }
    }
    &__input {
        border: none;
        background-color: transparent;
        font-family: $primaryFont;
        font-size: map-get($font, s);
        color: #626262;
        width: 95%;
    }
}