.c-about-me {
    padding-top: calculateRem(map-get($space, l));
    &__title {
        font-size: calculateRem(map-get($font, l));
        padding: calculateRem(map-get($space, xxs)) 0;
    }
    &__social-icon {
        display: inline-block;
        font-size: calculateRem(map-get($font, l));
        color: #626262;
        margin: calculateRem(map-get($space, xxs)) calculateRem(map-get($space, xxs)/2);
        margin-left: 0;
        transition: transform .3s ease-in-out;
        &:hover {
            transform: scale(1.3);
        }
    }
}     