$font-family: 'Playfair Display', serif;


/*********
* Fonts *
*********/
$htmlFontSize: 16px;
$primaryFont: "metropolis", Arial, sans-serif;
$headingFont: $primaryFont;

$font: (
"xxs" : remCalc($htmlFontSize - 3px), //13px
"xs" : remCalc($htmlFontSize - 2px), //14px
"s" : remCalc($htmlFontSize - 1px), //15px
"m" : remCalc($htmlFontSize), //16px
"l" : remCalc($htmlFontSize + 2px), //18px
"xl" : remCalc($htmlFontSize + 9px), //27px
"xxl" : remCalc($htmlFontSize + 20px), //36px
);

$line-height: (
"xxs" : 18px,
"xs" : 25px,
"s" : 28px,
"m" : 36px,
"l" : 38px,
"xl" : 40px,
"xxl" : 50px,
);

/********** 
* Colors *
**********/
$baseColors: (
"main": (
#2F8BF0,
#EC5446
),
"sub": (
#BA76FF 
#5BA00F
),
"func": (
#fff 
#F7F7F7
#656464
#DEDEDE
#000
#979797
#292F3A
)
);

$useColors: (
"font" : (
color-var(func,5)
color-var(func,4)
color-var(func,3)
color-var(func)
color-var(main)
color-var(main,2)
color-var(sub) 
color-var(sub,2)
color-var(func,6)
color-var(func, 2)
color-var(func, 7)
),
"bg" : (
color-var(func)
color-var(func,2)
color-var(main)
color-var(main,2)
color-var(func,4)
color-var(sub)
color-var(sub,2)
color-var(func,3)
),
"border" : (
color-var(sub) 
color-var(func, 3) 
color-var(func, 4)
color-var(func)
color-var(func, 5)
),
"icon" : (
color-var(func,2)
)
);

/*********** 
* Borders *
***********/
$borderRadius: 0px;
$borderRadius50: 50px;
$borderRadius25: 25px;
$borderWidth1: 1px;
$borderWidth: 0px;

/************ 
* Spacings *
************/

$space: (
"xs" : 3px,
"s" : 6px,
"m" : 10px,
"l" : 20px,
"xl" : 25px,
"xxl" : 42px
);

/**************
* Grid *
**************/
$gutter: 50px;
$gutter-half: $gutter/2;
$gutter-twice: $gutter*2;

$paddings: (
"xxs" : 36px,
"xs" : 40px,
"s" : 50px,
"m" : 65px,
"l" : 75px,
"xl" : 325px,
"xxl" : 375px
);

$grid-max-columns: 12;
$grid-sizes: sm md lg xl;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 2000px;

$screen-xs-max: $screen-sm-min - 1px;
$screen-sm-max: $screen-md-min - 1px;
$screen-md-max: $screen-lg-min - 1px;
$screen-lg-max: $screen-xl-min - 1px;

$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;
$container-xl: 1300px;

$screen-sizes: 1px $screen-sm-min $screen-md-min $screen-lg-min;

/********
* Misc *
********/
$transition-duration: 0.3s; 
